:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
  }
  
  body {
	margin: 0;

	min-height: 100vh;
	font-size: 1.6rem;
  }
  main {
	display: flex;
	place-items: center;
  }
  h1 {
	font-size: 3.2em;
	line-height: 1.1;
  }
  
  button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
  }
  button:hover {
	border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
  }
  
  @media (prefers-color-scheme: light) {
	:root {
	  color: #213547;
	  background-color: #ffffff;
	}
	a:hover {
	  color: #747bff;
	}
	button {
	  background-color: #f9f9f9;
	}
  }
  
  p {
	font-size: 1.6rem;
  }
.loginPrompt{
	text-align: center;
}
  .navlink {
	font-size: 2rem;
	line-height: 3ch;
}
.card{
	width: 320px;
	object-fit:fill !important;
}
.cards{
	display: flex;
	flex-direction: row !important;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	gap: 50px;
	margin-top:20px ;
}
.cardBtn{
	display:flex !important;
	flex-direction: column !important;
	align-items: center !important;
	padding: 0px !important;
}
.cardBtn a {
	width: 60%;
}
.profileHeadline {
	display: flex;
	flex-direction: row;
	gap: 10px;
	padding-top: 10px;
}

.profileHeadline img {
	max-width: 190px;
}
